.all {
  background-color: #e3dce9;
}

.home {
  margin-left: 6%;
  margin-right: 6%;
  text-align: center;
}

.banner img {
  margin-top: 3rem;
  border-radius: 1.5rem;
  max-width: 100%;

  margin-bottom: 4rem;
}

.text {
  padding-top: 3rem;
  align-items: center;
}