.banner {
  width: 100%;
  height: 60%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 667px;
  background-color: black;
  opacity: 50%;
}

.text {
  width: 60%;
  position: absolute;
  top: 28%;
  left: 20%;
}

h1 {
  font-style: normal;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
}